h1{
  font-size: 36px;
  text-align: center;
  padding: 20px 0;
}
h2{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  padding: 20px 0;
}
h2 .font-bigger{
  font-size: 50px;
}
h5{
  font-size: 20px;
}

.App{
  padding: 0 20px;
}

#lottie{
  width: 80vw;
}

.button-container{
  padding-top: 20px;
}

/* Home */
.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
form{
  display: flex;
  flex-direction: column;
}

/* Game */
.game-container{
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 69.2px);
}
.hands-container{
  display: flex;
}
.hand{
  font-size: 40px;
  padding: 0 20px;
  cursor: pointer;
}
.stats{
  border: 3px solid #000;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.result{
  font-size: 60px;
}
.result.green{
  color: green;
}
.result.red{
  color: red;
}

.active{
  transform: scale(130%);
  transition: all .1s ease;
  text-align: center;
}
.active-user{
  transform: translateY(-30px);
}
.active-cpu{
  transform: translateY(30px);
}

/* Result */
.Result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.summary{
  text-align: center;
}

/* Ranking */

.Ranking img{
  height: 200px;
  margin: 15px;
}
.Ranking ul{
  text-align: center;
  padding: 20px 0;
}
.Ranking ul li:first-child{
  font-size: 30px;
}

@media(min-width: 1000px){
  #lottie{
    width: 30vw;
  }

  .hands-container{
    width: 100vw;
    justify-content: space-around;
  }
  .hand{
    font-size: 60px;
  }

  .Game .btn{
      font-size: 32px;
      padding: 20px 40px;
  }

  .Ranking{
    width: 50vw;
    margin: 0 auto;
  }
  .Ranking img{
    height: 300px;
  }

}