/* RESET */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ul li{
  list-style: none;
}
a{text-decoration: none;}

img{
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Monomaniac';
  src: 
      local('MyFont'),
      url(./assets/fonts/MonomaniacOne-Regular.woff) format('woff'),
      url(./assets/fonts/MonomaniacOne-Regular.woff2) format('woff2'),
      url(./assets/fonts/MonomaniacOne-Regular.ttf) format('ttf');
  font-weight: 900;
  font-style: normal;
}

body, input, button{
  font-family: 'Monomaniac', monospace;
}
